
<div class="main_container" data-aos="zoom-in" data-aos-duration="1500">
    <section class="section__one  py-5">
        <div class="container">
            <div class="row mx-auto py-2">
                <div class="col-md-6 col-12 text-center">
                    <img class="image__div width" src="../../assets/images/dummyimge.jpg" alt="">
                </div>
                <div
                    class="col-12 pt-3 col-md-6 d-flex d-md-block align-items-center flex-column justify-content-center ">
                    <h1 class="fw-bold mb-0 heading_txt">Our History and <br class="d-none d-md-block">Core Values</h1>
                    <p class="pt-2 p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Reiciendis error
                        officiis quos odio, amet
                        excepturi? Error, nihil reiciendis assumenda autem animi ducimus adipisci itaque beatae minima
                        dicta
                        libero incidunt repellat.</p>
                    <p class="p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Reiciendis error
                        officiis quos odio, amet
                        excepturi? Error, nihil reiciend.</p>
                    <div class="btn-div text-md-start text-center">
                        <button class="border-dark  py-2 px-4 bg-transparent rounded-pill">
                            learn more
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="section__two bg-white py-5">
        <div class="container">
            <div class="row mx-auto pt-3">
                <div
                    class="col-12 pt-3 order-2 order-md-1 col-md-6 d-flex d-md-block align-items-center flex-column justify-content-center ">
                    <div class="btn-div mb-3 order-3 order-md-1 ">
                        <button class="border-dark  py-1 px-3 bg-transparent rounded-pill">
                            FREE PRIVATE SCHOOL
                        </button>
                    </div>
                    <h1 class="fw-bold mb-0 heading_txt">Our History and <br class="d-none d-md-block">Core Values</h1>
                    <p class="pt-2 p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Reiciendis error
                        officiis quos odio, amet
                        excepturi? Error, nihil reiciendis assumenda autem animi ducimus adipisci itaque beatae minima
                        dicta
                        libero incidunt repellat.</p>
                    <p class="p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Reiciendis error
                        officiis quos odio, amet
                        excepturi? Error, nihil reiciend.</p>
                </div>
                <div class="col-md-6 col-12 order-1 order-md-2 text-center">
                    <img class="image__div width" src="../../assets/images/dummyimge.jpg" alt="">
                </div>
            </div>
        </div>
    </section>


    <section class="section__three pb-5">
        <div class="container">
            <div class="row mx-auto pt-3">
                <div
                    class="col-12 pt-3 order-2 col-md-6 d-flex d-md-block align-items-center flex-column justify-content-center ">
                    <div class="btn-div mb-3  order-3 order-md-1">
                        <button class="border-dark  py-1 px-3 bg-transparent rounded-pill">
                            FREE PRIVATE SCHOOL
                        </button>
                    </div>
                    <h1 class="fw-bold mb-0 heading_txt">Our History and <br class="d-none d-md-block">Core Values</h1>
                    <p class="pt-2 p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Reiciendis error
                        officiis quos odio, amet
                        excepturi? Error, nihil reiciendis assumenda autem animi ducimus adipisci itaque beatae minima
                        dicta
                        libero incidunt repellat.</p>
                    <p class="p__text text-md-start text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Reiciendis error
                        officiis quos odio, amet
                        excepturi? Error, nihil reiciend.</p>
                </div>
                <div class="col-md-6 order-1 col-12 text-center">
                    <img class="image__div width" src="../../assets/images/dummyimge.jpg" alt="">
                </div>
            </div>

        </div>
    </section>
</div>