<div class="container mb-5">
  <div class="text-center">
    <h6>
      Appendix XI
      <br><br>
      Mandatory Public Disclouser
    </h6>
  </div>

  <div class="my-5">
    <h5 class="text-center pb-3">A. GENERAL INFORMATION</h5>
    <div class="table-responsive">
      <table class="table table-bordered">

          <thead>
            <tr>
              <th scope="col">SL NO. </th>
              <th scope="col">INFORMATION</th>
              <th scope="col">DETAILS</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>NAME OF THE SCHOOL</td>

              <td>VOXPOP HIGH SCHOOL   </td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>JAFFILIATION NO (IF APPILICABLE)	</td>
              <td>NA</td>

            </tr>
            <tr>
              <th scope="row">3</th>
              <td>SCHOOL CODE (IF APPLICABLE)	</td>
              <td>NA</td>

            </tr>
            <tr>
              <th scope="row">4</th>
              <td>COMPLETE ADDRESS WITH PIN CODE		</td>
              <td>20-M/53 MATRUSRI NAGAR miyapur serilingampally RANGAREddY dIST RANGAREDDY TELANGANA RANGAREDDY HYDERABAD 500049
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>PRINCIPAL NAME & QUALIFICATION	</td>
              <td>MD NASREEN SULTANA- MCA, MCom, B.ed

              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>SCHOOL EMAIL ID	</td>
              <td>voxpopis2019@gmail.com

              </td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>CONTACT DETAILS (LANDLINE/MOBILE)	</td>
              <td>09490518082
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>

  <div class="table-1">
    <h5 class="text-center pb-3">1.  DOCUMENTS AND INFORMATION</h5>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">SL NO. </th>
            <th scope="col">DOCUMENTS/INFORMATION</th>
            <th scope="col">UPLOAD DOCUMENTS
            </th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="width:5%">1</th>
            <td style="width:30%">COPIES OF AFFILIATION/UPGRADATION LETTER AND RECENT EXTENSION OF AFFILIATION IF ANY	</td>
            <td style="width:30%">NA</td>

          </tr>
          <tr>
            <th scope="row">2</th>
            <td>COPIES OF SOCITIES/TRUST/COMPANY REGISTRATION/RENEWAL CERTIFICATE AS APPLICABLE	</td>
            <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.trustDoc" target="_blank"> Click Here </a></td>

          </tr>
          <tr>
            <th scope="row">3</th>
            <td>COPY OF NO OBJECTION CERTIFICATE (NOC) ISSUED IF APPLICABLE BY THE STATE GOVT/UT	</td>
            <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.nocDoc" target="_blank"> Click Here </a></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>COPIES OF RECOGNISITION CERTIFICATE UNDER RTE ACT. 2009. AND IT’S RENEWAL IF APPLICABLE	</td>
            <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.recogDoc" target="_blank"> Click Here </a></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>COPY OF VALID BUILDING SAFETY CERTIFICATE AS PER THE NATIONAL BUILDING CODE	</td>
            <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.buildingDoc" target="_blank"> Click Here </a></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>COPY OF VALID FIRE SAFETY CERTIFICATE ISSUED BY THE COMPETENT AUTHORITY	</td>
            <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.fireDoc" target="_blank"> Click Here </a></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>COPY OF THE DEO CERTIFICATE SUBMITTED BY THE SCHOOL FOR AFFILIATION/UPGRADATION/EXTENSION OF AFFILIATION SELF CERTIFICATION BY SCHOOL	</td>
            <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.deoDoc" target="_blank"> Click Here </a></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>COPIES OF VALID WATER, HEALTH AND SANITATION CERTIFICATES	</td>
            <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.healthDoc" target="_blank"> Click Here </a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <p class="text-center my-5">
    NOTE: THE SCHOOLS NEEDS TO UPLOAD THE SELF ATTESTED COPIES OF ABOVE LISTED DOCUMENTS BY CHAIRMAN/MANAGER/SECRETARY
    AND PRINCIPAL. IN CASE IT IS NOTED AT LATER STAGE THAT UPLOADED DOCUMENTS ARE NOT GENUINE THEN SCHOOL SHALL BE
    LIABLE FOR ACTION AS PER NORMS.
  </p>


  <div class="table-1">
    <h5 class="text-center pb-3">C. RESULT AND ACADEMICS</h5>
    <div class="table-responsive">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">SL NO. </th>
              <th scope="col">DOCUMENTS/INFORMATION</th>
              <th scope="col">UPLOAD DOCUMENTS
              </th>

            </tr>
          </thead>
          <tbody>

            <tr>
              <th scope="row">1</th>
              <td>FEE STRUCTURE OF THE SCHOOL	</td>
              <td>NA</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>ANNUAL ACADEMIC CALENDER		</td>
              <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.trustDoc" target="_blank"> Click Here </a></td>

            </tr>
            <tr>
              <th scope="row">3</th>
              <td>LIST OF SCHOOL MANAGEMENT COMMITTEE (SMC)	</td>
              <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.smcDoc" target="_blank"> Click Here </a></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>LIST OF PARENTS TEACHERS ASSOCIATION (PTA) MEMBERS		</td>
              <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.ptaDoc" target="_blank"> Click Here </a></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>LAST THREE YEAR RESULT OF THE BOARD EXAMINATION AS PER APPLICABILITY	</td>
              <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.resultDoc" target="_blank"> Click Here </a></td>
            </tr>

          </tbody>
      </table>
    </div>
  </div>


  <div>
    <h5 class="text-center pb-3">RESULT CLASS:X</h5>
    <div class="table-responsive">
      <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">SL NO. </th>
                <th scope="col">YEAR</th>
                <th scope="col">NO OF REGISTERED STUDENTS	 </th>
                <th scope="col">NO OF STUDENTS PASSED	</th>
                <th scope="col">PASS PERCENTAGE	</th>
                <th scope="col">REMARKS</th>
              </tr>
              <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                  </tr>


            </thead>
      </table>
    </div>
  </div>

  <div>
    <h5 class="text-center pb-3">RESULT CLASS:XII</h5>
    <div class="table-responsive">
      <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">SL NO. </th>
                <th scope="col">YEAR</th>
                <th scope="col">NO OF REGISTERED STUDENTS	 </th>
                <th scope="col">NO OF STUDENTS PASSED	</th>
                <th scope="col">PASS PERCENTAGE	</th>
                <th scope="col">REMARKS</th>
              </tr>
              <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                  </tr>


            </thead>
      </table>
    </div>
  </div>


  <div class="table-1">
    <h5 class="text-center pb-3">D. STAF (TEACHINGS)</h5>
    <div class="table-responsive">
      <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">SL NO. </th>
                  <th scope="col">INFORMATION</th>
                  <th scope="col">DETAILS
                  </th>

                </tr>
              </thead>
              <tbody>
                  <tr>
                      <th scope="row">1</th>
                      <td>PRINCIPAL	</td>
                      <td>MD NASREEN SULTANA
                      </td>

                    </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>TOTAL NO. OF TEACHERS		</td>
                  <!-- <td colspan="2">&nbsp; TOTAL NO. OF TEACHERS</td> -->



                  <td>45</td>

                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>LIST OF SCHOOL MANAGEMENT COMMITTEE (SMC)	</td>
                  <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.trustDoc" target="_blank"> Click Here </a></td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>LIST OF PARENTS TEACHERS ASSOCIATION (PTA) MEMBERS		</td>
                  <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.trustDoc" target="_blank"> Click Here </a></td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>LAST THREE YEAR RESULT OF THE BOARD EXAMINATION AS PER APPLICABILITY	</td>
                  <td><a *ngIf="schoolData" [href]="environment.documentUrl + schoolData.trustDoc" target="_blank"> Click Here </a></td>
                </tr>

              </tbody>
      </table>
    </div>
  </div>

  <div class="table-1">
    <h5 class="text-center pb-3">D . SCHOOL INFRASTRUCTURE:</h5>
    <div class="table-responsive">
      <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col"  style="width:5%" >SL NO. </th>
                  <th scope="col">INFORMATION</th>
                  <th scope="col">DETAILS</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>TOTAL CAMPUS AREA OF THE SCHOOL (IN SQUARE MTR)	</td>

                  <td>2257.5  </td>

                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>NO. AND SIZE OF THE CLASS ROOM (IN SQ FTMTR)		</td>
                  <td>30 Nos Ranging from 2.8 Sq. Mtrs. to 1.02 Sq. Mtrs
                  </td>

                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>NO AND SIZE OF LABORATORIES INCLUDING COMPUTERSLABS (IN SQ MTR)	</td>
                  <td>05 Labs. – 2.7 Sq. Mtrs. to 1.6  Sq. Mtrs
                  </td>

                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>INTERNET FACILITY (Y/N)		</td>
                  <td>YES

                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>NO OF GORLS TOILETS		</td>
                  <td>14

                  </td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>NO OF BOYS TOILETS	</td>
                  <td>14

                  </td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>LINK OF YOUTUBE VIDEO OF THE INSPECTION OF SCHOOLCOVERING THE INFRSTRUCTURE OF THE SCHOOL	</td>
                  <td><a href=#> Click Here
                  </a>
                  </td>
                </tr>
              </tbody>
      </table>
    </div>
  </div>

</div>
