<section class="section top-block">
  <ul class="js-scene parallax-scene top-block__decor aos-init aos-animate" data-relative-input="true" data-aos="zoom-out" data-aos-delay="1400" data-aos-duration="2000" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
    <li class="parallax-layer" data-depth="0.2" style="transform: translate3d(-27px, 11.8px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><i class="top-block__particle top-block__particle--dot-red"></i></li>
    <li class="parallax-layer" data-depth="0.1" style="transform: translate3d(-13.5px, 5.9px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><i class="top-block__particle top-block__particle--dot-green"></i></li>
    <li class="parallax-layer" data-depth="0.1" style="transform: translate3d(-13.5px, 5.9px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><i class="top-block__particle top-block__particle--dot-orange"></i></li>
    <li class="parallax-layer" data-depth="0.3" style="transform: translate3d(-40.5px, 17.7px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><i class="top-block__particle top-block__particle--circle-green"></i></li>
  </ul>
  <div class="wrap">
    <div class="position-relative">
      <swiper #swiper [config]="config">
        <ng-template *ngFor="let slide of schoolData?.section1" swiperSlide>
          <div class="row flex-xl-nowrap">
            <div class="col-auto order-lg-1">
              <div class="top-block__rhombus rhombus aos-init aos-animate" data-aos="fade-in" data-aos-delay="300">
                <div class="rhombus__inner">
                  <div class="responsive-img rhombus__img-wrap">
                    <img class="swiper-lazy swiper-lazy-loaded" [src]="environment.imageBaseUrl + slide.slideImg1" alt="" data-object-fit="cover">
                  </div>
                  <a class="rhombus__text" href="https://pokolenie.eljur.ru">
                    <div class="rhombus__logo">
                      <img src="assets/images/swiper-logo.png" alt="">
                    </div>
                  </a>
                  <div class="rhombus__img-romb">
                    <div class="responsive-img rhombus__img-romb-wrap">
                      <img class="swiper-lazy swiper-lazy-loaded" [src]="environment.imageBaseUrl + slide.slideImg2" alt="" data-object-fit="cover">

                    </div>
                  </div><i class="rhombus__line aos-init aos-animate" data-aos="new-animation" data-aos-delay="1200"></i>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="text-center text-md-left top-block__title">
                    {{slide.title}}
                    <i class="d-none d-md-block top-block__title-lines aos-init aos-animate" data-aos="new-animation" data-aos-delay="500"></i>
                    <i class="top-block__title-angle aos-init aos-animate" data-aos="zoom-in" data-aos-delay="700"></i>
                  </div>
                  <!-- <div class="text-center text-md-right text-lg-left">
                    <a class="btn btn--blue btn--with-line top-block__more-btn aos-init aos-animate" data-aos="new-animation" data-aos-delay="2500" href="/">
                      More
                    </a>
                  </div> -->
                </div>
          </div>
        </ng-template>
      </swiper>
      <div class="top-block__soc">
        <div class="b-soc">
          <div class="flex-sm-column b-soc__inner">
            <a class="b-soc__item b-soc__item--vk insta" href="https://www.instagram.com/voxpopis/">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="b-soc__item b-soc__item--fb facebook" href="https://www.facebook.com/voxpopis">
              <i class="fa-brands fa-facebook"></i>
          </a>
          <a class="b-soc__item b-soc__item--linkedin linkedin" href="https://www.linkedin.com/company/voxpop-school/">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 mt-md-5 mt-lg-0 top-block__footer">
      <div class="row align-items-center justify-content-end">
        <!-- <div class="col d-none d-md-block">
          <p>Volgograd, st. Tkacheva, 7</p>
          <p><a href="tel:">+7 (8442) 39-19-67</a></p>
          <p><a href="mailto:school_pokolenie@mail.ru">school_pokolenie@mail.ru</a></p>
        </div> -->
        <div class="col-md-auto d-flex align-items-center justify-content-center">
          <button class="top-block__prev" type="button" tabindex="0" role="button" aria-label="Previous slide" (click)="slidePrev()">
            <i class="fa-solid fa-arrow-left"></i><span>Previous</span></button>
          <button class="top-block__next" type="button" tabindex="0" role="button" aria-label="Next slide" (click)="slideNext()">
            <span>Next</span>
            <i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section-steps" class="section steps">
	<div class="steps__bg"></div>
	<ul class="js-scene parallax-scene steps__decor" data-relative-input="true" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
		<li class="parallax-layer" data-depth="0.3" style="transform: translate3d(-27.9px, 58.5px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><i class="steps__particle steps__particle--dot-green aos-init" data-aos="zoom-in" data-aos-delay="700"></i>
		</li>
	</ul>
	<span class="steps__decor">
		<i class="steps__particle steps__particle--lines aos-init" data-aos="new-animation" data-aos-delay="200" data-aos-offset="0"></i>
	</span>
	<div class="wrap steps__inner">
		<div class="row text-center text-md-left">
			<div class="col-lg-5">
				<div class="h1 steps__title">{{schoolData?.section2.title}}</div>
			</div>
			<div class="col-md-9 ms-md-auto ms-lg-0 col-lg-7">
				<div class="steps__text">{{schoolData?.section2.description}}</div>
			</div>
		</div>
				<ul class="row justify-content-center steps__list">

						<li class="col-6 col-md-3 steps__item aos-init" data-aos="fade-up" data-aos-delay="100">
				<div class="text-center item-step">
					<i class="item-step__icon"><img *ngIf="schoolData" [src]="environment.imageBaseUrl + schoolData.section2.bottomImage1" alt=""></i>
					<div class="d-flex flex-column align-items-center justify-content-center item-step__title">
            <h3>{{schoolData?.section2.bottomText1}}</h3>
            <p>{{schoolData?.section2.bottomSubText1}}</p>
						<!-- <i class="item-step__num">01</i>
						<a href="/intellekt.php">Intelligence</a> -->
					</div>
				</div>
			</li>
						<li class="col-6 col-md-3 steps__item aos-init" data-aos="fade-up" data-aos-delay="200">
				<div class="text-center item-step">
					<i class="item-step__icon"><img *ngIf="schoolData" [src]="environment.imageBaseUrl + schoolData?.section2.bottomImage2" alt=""></i>
					<div class="d-flex flex-column align-items-center justify-content-center item-step__title">
            <h3>{{schoolData?.section2.bottomText2}}</h3>
            <p>{{schoolData?.section2.bottomSubText2}}</p>
						<!-- <i class="item-step__num">02</i>
						<a href="/art.php">Creation</a> -->
					</div>
				</div>
			</li>
						<li class="col-6 col-md-3 steps__item aos-init" data-aos="fade-up" data-aos-delay="300">
				<div class="text-center item-step">
					<i class="item-step__icon"><img *ngIf="schoolData" [src]="environment.imageBaseUrl + schoolData?.section2.bottomImage3" alt=""></i>
					<div class="d-flex flex-column align-items-center justify-content-center item-step__title">
            <h3>{{schoolData?.section2.bottomText3}}</h3>
            <p>{{schoolData?.section2.bottomSubText3}}</p>
						<!-- <i class="item-step__num">03</i>
						<a href="/health.php">Health</a> -->
					</div>
				</div>
			</li>
					</ul>

	</div>
  <a class="js-scroll-to steps__scroll-down aos-init aos-animate" data-aos="fade-up" data-aos-delay="2500" data-aos-offset="0"
    (click)="scrollToSection2()">
    <i class="fa-solid fa-arrow-down"></i>
  </a>
</section>

<section class="section b-mission">
	<ul class="d-none d-md-block js-scene parallax-scene b-mission__decor" data-relative-input="true" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
		<li class="parallax-layer" data-depth="0.2" style="transform: translate3d(-13.1px, 59.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><i class="b-mission__particle b-mission__particle--dot-orange aos-init" data-aos="zoom-in" data-aos-delay="800"></i>
		</li>
		<li class="parallax-layer" data-depth="0.3" style="transform: translate3d(-19.6px, 89.4px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><i class="b-mission__particle b-mission__particle--circle-green aos-init" data-aos="zoom-in" data-aos-delay="900"></i>
		</li>
	</ul>
	<span class="d-none d-md-block b-mission__decor">
		<i class="b-mission__particle b-mission__particle--triangle-red aos-init" data-aos="zoom-out" data-aos-delay="800"></i>
	</span>
	<div class="wrap position-relative">
		<div class="row align-items-start">
			<div class="col-lg-6 col-xl-4 me-xl-auto position-relative">
				<h2 class="h1 aos-init" data-aos="fade-up">{{schoolData?.section3.title}}</h2>
				<div class="cj ontent-style aos-init" data-aos="fade-up">
					{{schoolData?.section3.description}}<br>
        </div>
				<div class="b-mission__btn-wrap">
					<!-- <a class="btn btn--blue btn--with-line aos-init" data-aos="new-animation" href="/about/" data-aos-delay="1100">More</a> -->
				</div>
				<a class="responsive-img js-image-popup d-block b-mission__img-wrap aos-init" data-aos="fade-up-right" data-aos-delay="600">
					<img *ngIf="schoolData" [src]="environment.imageBaseUrl + schoolData.section3.img" alt="" data-object-fit="cover">
				</a>
			</div>
			<div class="col-lg-6 b-mission__video">
				<a class="responsive-img js-popup-youtube b-video b-video--dimmed aos-init" *ngIf="schoolData"
          [href]="schoolData?.section3.videoUrl" data-aos="fade-up" data-aos-delay="100">
					<img class="lazyload" *ngIf="schoolData" [src]="environment.imageBaseUrl + schoolData.section3.videoThumb" alt="" data-object-fit="cover">
          <i class="fa-solid fa-play b-video__play-btn d-flex"></i>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="section b-projects">
	<ul class="js-scene parallax-scene b-projects__decor" data-relative-input="true" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
		<li class="parallax-layer" data-depth="0.1" style="transform: translate3d(-12.9px, 38.9px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><i class="b-projects__particle b-projects__particle--dot-orange aos-init" data-aos="zoom-in"></i>
		</li>
		<li class="parallax-layer" data-depth="0.2" style="transform: translate3d(-25.8px, 77.9px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><i class="b-projects__particle b-projects__particle--dot-green aos-init" data-aos="zoom-in" data-aos-delay="200"></i>
		</li>
	</ul>
	<div class="wrap">
		<h2 class="h1 mb-5 text-center aos-init" data-aos="fade-up">Educational complex</h2>
		<div class="b-projects__slider-wrap aos-init" data-aos="new-animation">
      <swiper #swiper2 [config]="config2" class="sec4-swiper">
        <ng-template *ngFor="let slide of schoolData?.section4" swiperSlide>
          <div class="row">
            <div class="col-lg-6 px-md-5 px-lg-4 order-lg-1">
              <div class="h2 d-flex b-projects__sub-title"><span>{{slide.title}}</span></div>
              <p *ngIf="slide.description?.length && slide.description != 'null'"
                class="mb-4 dot b-projects__slide-descr" style="overflow-wrap: break-word;">
                {{slide.description}}
                <br>
              </p>
              <p class="mb-4"><a class="b-projects__more-link" href="/projects/podgotovka-k-olimpiadam/">To learn more</a></p>
              <ul class="mb-5 b-projects__links">
                <li class="js-projects-bullet active" data-id="1" *ngFor="let slideDesc of schoolData.section4">
                  {{slideDesc.title}}
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="responsive-img b-projects__img-wrap">
                <img class="swiper-lazy swiper-lazy-loaded" [src]="environment.imageBaseUrl + slide.img" alt="" data-object-fit="cover">
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template *ngIf="!schoolData" swiperSlide>
          <div class="row">
            <div class="col-lg-6 px-md-5 px-lg-4 order-lg-1">
              <div class="h2 d-flex b-projects__sub-title"><span>Modern High School</span></div>
              <p class="mb-4"><a class="b-projects__more-link" href="/projects/podgotovka-k-olimpiadam/">To learn more</a></p>
              <ul class="mb-5 b-projects__links">
                <li class="js-projects-bullet" data-id="1">Preparation for the Olympics</li>
                <li class="js-projects-bullet active" data-id="2">Modern High School</li>
                <li class="js-projects-bullet" data-id="3">Psychological center "GENERATION"</li>
                <li class="js-projects-bullet" data-id="4">«Time2Teach»</li>
                <li class="js-projects-bullet" data-id="5">Endowment Fund Legacy Endowment</li>
                <li class="js-projects-bullet" data-id="6">Educational center "Maximum"</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="responsive-img b-projects__img-wrap">
                <img class="swiper-lazy swiper-lazy-loaded" src="assets/images/sec4-slide2.jpg" alt="" data-object-fit="cover">

              </div>
            </div>
          </div>
        </ng-template>
      </swiper>

      <div class="row next-prev-btn">
				<div class="col-md-6">
					<div class="d-flex align-items-end">
						<div class="d-flex align-items-center ms-auto ms-md-0">
							<button class="b-projects__prev" type="button" tabindex="0" role="button" aria-label="Previous slide"
                (click)="slideEduPrev()">
                <i class="fa-solid fa-arrow-left"></i><span>Previous</span>
              </button>
							<button class="b-projects__next" type="button" tabindex="0" role="button" aria-label="Next slide"
                (click)="slideEduNext()">
                <span>Next</span><i class="fa-solid fa-arrow-right"></i>
              </button>
						</div>
					</div>
				</div>
				<div class="col-md-6 px-md-5 px-lg-4 mt-3 mt-md-0 d-flex align-items-end justify-content-center justify-content-md-start">
					<!-- <a class="btn btn--blue btn--with-line aos-init aos-animate" href="/projects/" data-aos="new-animation" data-aos-delay="600">
            All projects
          </a> -->
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section b-news">
  <div class="b-news__bg"><i class="b-news__particle b-news__particle--sq-black aos-init" data-aos="zoom-in"></i>
  </div>
  <ul class="js-scene parallax-scene b-news__decor" data-relative-input="true" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
    <li class="parallax-layer" data-depth="0.1" style="transform: translate3d(-13.8px, 58.8px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><i class="b-news__particle b-news__particle--dot-green aos-init" data-aos="zoom-in"></i>
    </li>
    <li class="parallax-layer" data-depth="0.3" style="transform: traGnslate3d(-41.4px, 176.4px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><i class="b-news__particle b-news__particle--dot-purple aos-init" data-aos="zoom-in" data-aos-delay="100"></i>
    </li>
  </ul>
  <span class="b-news__decor">
    <i class="b-news__particle b-news__particle--triangle-red aos-init" data-aos="fade-up" data-aos-delay="500"></i>
    <i class="b-news__particle b-news__particle--line-orange aos-init" data-aos="new-animation"></i>
    <i class="d-none d-md-block b-news__particle b-news__particle--line-yellow aos-init" data-aos="new-animation"></i>
  </span>
  <div class="wrap position-relative">
    <h2 class="h1 text-center b-news__title aos-init" data-aos="fade-in" data-aos-duration="500" data-aos-delay="700">News</h2>
    <ul class="row b-news__list">

      <li *ngFor="let slide of schoolData?.section5"
        class="col-sm-6 col-lg-4 b-news__item aos-init" data-aos="zoom-out-right" data-aos-delay="100">
          <a class="d-flex flex-column item-news" [routerLink]="['news', slide._id]">
            <div class="responsive-img flex-grow-1 item-news__img-wrap">
              <img class="lazyload" [src]="environment.imageBaseUrl + slide.img" alt="" data-object-fit="cover">
            </div>
            <div class="text-center flex-shrink-0 item-news__content">
              <time class="item-news__date" datetime="">{{slide.newsDate}}</time>
              <div class="dot d-flex align-items-center justify-content-center item-news__title" style="overflow-wrap: break-word;">
                <p class="news-data">{{slide.heading}}</p>
              </div>
              <div class="d-none d-sm-block item-news__descr">
                                </div>
              <div class="d-none d-sm-block item-news__more-link" data-aos-delay="600">More</div>
            </div>
          </a>
        </li>
    </ul>
    <div class="text-center">
      <!-- <a class="btn btn--blue btn--with-line b-news__show-all aos-init" routerLink="news" data-aos="new-animation" data-aos-delay="600">All News</a> -->
    </div>
  </div>
</section>

<section class="section b-gallery">
	<ul class="js-scene parallax-scene b-gallery__decor" data-relative-input="true" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
		<li class="parallax-layer" data-depth="0.1" style="transform: translate3d(-13.8px, 77.5px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><i class="b-gallery__particle b-gallery__particle--dot-yellow aos-init" data-aos="zoom-in"></i>
		</li>
		<li class="parallax-layer" data-depth="0.2" style="transform: translate3d(-27.6px, 155px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><i class="b-gallery__particle b-gallery__particle--dot-green aos-init" data-aos="zoom-in" data-aos-delay="1000"></i>
		</li>
	</ul>
	<span class="b-gallery__decor">
		<i class="b-gallery__particle b-gallery__particle--angle-red aos-init" data-aos="fade-up-right" data-aos-delay="600"></i>
		<!-- <i class="b-gallery__particle b-gallery__particle--pencil aos-init" data-aos="new-animation">
			<svg role="img" width="1em" height="1em">
				<use xlink:href="#si-pencil"></use>
			</svg>
		</i> -->
	</span>
	<div class="wrap">
		<div class="text-center mb-3 mb-sm-5">
			<h2 class="h1">Events</h2>
		</div>
				<div class="b-grid">
			<ul class="row js-masonry js-gallery b-grid__list">

        <swiper #swiper3 [config]="config3">
          <ng-template swiperSlide *ngFor="let slide of schoolData?.section6">
            <a class="d-flex flex-column item-news" [routerLink] ="['gallery']" data-aos="zoom-out-right" data-aos-delay="100">
              <!-- slide.academicYear.from + '-' + slide.academicYear.to   -->
              <div class="responsive-img flex-grow-1 item-news__img-wrap">
                <img class="lazyload" [src]="environment.imageBaseUrl + slide.coverImage" alt="" data-object-fit="cover">
              </div>
              <div class="text-center flex-shrink-0 item-news__content">
                <time class="item-news__date" datetime="">{{slide.title}}</time>
                <div class="dot d-flex align-items-center justify-content-center item-news__title" style="overflow-wrap: break-word;">
                  {{slide.subTitle}}
                </div>
                <div class="d-none d-sm-block item-news__descr">
                                  </div>
                <div class="d-none d-sm-block item-news__more-link" data-aos-delay="600">More</div>
              </div>
            </a>
            <!-- <li class="col-sm-6 col-lg-4 b-news__item aos-init" data-aos="zoom-out-right" data-aos-delay="100">

            </li> -->
          </ng-template>

          <ng-template swiperSlide>
            <a class="d-flex flex-column item-news" data-aos="zoom-out-right" data-aos-delay="100" href="/news/konkurs-dlya-starsheklassnikov-rossiyskaya-shkola-farmatsevtov/">
              <!-- <div class="responsive-img flex-grow-1 item-news__img-wrap">
                <img class="lazyload" src="assets/images/events2.jpg" alt="" data-object-fit="cover">
              </div>
              <div class="text-center flex-shrink-0 item-news__content">
                <time class="item-news__date" datetime="">Dussehra</time>
                <div class="dot d-flex align-items-center justify-content-center item-news__title" style="overflow-wrap: break-word;">
                  Voxpop International School leaves no stone unturned</div>
                <div class="d-none d-sm-block item-news__descr">
                                  </div>
                <div class="d-none d-sm-block item-news__more-link" data-aos-delay="600">More</div>
              </div> -->
            </a>
            <!-- <li class="col-sm-6 col-lg-4 b-news__item aos-init" data-aos="zoom-out-right" data-aos-delay="100">

            </li> -->
          </ng-template>

          <!-- <ng-template swiperSlide>
            <a class="d-flex flex-column item-news" data-aos="zoom-out-right" data-aos-delay="100" href="/news/konkurs-dlya-starsheklassnikov-rossiyskaya-shkola-farmatsevtov/">
              <div class="responsive-img flex-grow-1 item-news__img-wrap">
                <img class="lazyload" src="assets/images/events3.jpg" alt="" data-object-fit="cover">
              </div>
              <div class="text-center flex-shrink-0 item-news__content">
                <time class="item-news__date" datetime="">Green Day</time>
                <div class="dot d-flex align-items-center justify-content-center item-news__title" style="overflow-wrap: break-word;">
                  Green -a ray of hope Green, the color of growth, life,</div>
                <div class="d-none d-sm-block item-news__descr">
                                  </div>
                <div class="d-none d-sm-block item-news__more-link" data-aos-delay="600">More</div>
              </div>
            </a>
         
          </ng-template> -->

          <!-- this is 382 line -->
   <!-- <li class="col-sm-6 col-lg-4 b-news__item aos-init" data-aos="zoom-out-right" data-aos-delay="100">

            </li> -->
          <!--  -->

          <!-- <li class="b-grid__item aos-init" data-aos="fade-up" data-aos-duration="600" style="margin-top: 0px;">

            <a class="responsive-img js-gallery-item b-grid__item-inner" data-bs-toggle="modal" data-bs-target="#lightbox-modal">
              <img class="lazyload" src="assets/images/gallery1.jpg" alt="" data-object-fit="cover">
              <i class="fa-solid fa-eye b-grid__hover-btn d-flex"></i>
              <span class="text-center flex-shrink-0 item-news__content">
                <p>Diwali is celebrated 13/11/2020</p>
              </span>
            </a>

          </li>


          <li class="b-grid__item aos-init" data-aos="fade-up" data-aos-duration="600" style="margin-top: 0px;">
            <a class="responsive-img js-gallery-item b-grid__item-inner" data-bs-toggle="modal" data-bs-target="#lightbox-modal">
              <img class="lazyload" src="assets/images/gallery2.jpg" alt="" data-object-fit="cover">
              <i class="fa-solid fa-eye b-grid__hover-btn d-flex"></i>
            </a>
          </li>


          <li class="b-grid__item aos-init" data-aos="fade-up" data-aos-duration="600" style="margin-top: 0px;">
            <a class="responsive-img js-gallery-item b-grid__item-inner" data-bs-toggle="modal" data-bs-target="#lightbox-modal">
              <img class="lazyload" src="assets/images/gallery3.jpg" alt="" data-object-fit="cover">
              <i class="fa-solid fa-eye b-grid__hover-btn d-flex"></i>
            </a>
          </li>


          <li class="b-grid__item aos-init" data-aos="fade-up" data-aos-duration="600" style="margin-top: -114px;">
            <a class="responsive-img js-gallery-item b-grid__item-inner" data-bs-toggle="modal" data-bs-target="#lightbox-modal">
              <img class="lazyload" src="assets/images/gallery1.jpg" alt="" data-object-fit="cover">
              <i class="fa-solid fa-eye b-grid__hover-btn d-flex"></i>
            </a>
          </li>


          <li class="b-grid__item aos-init" data-aos="fade-up" data-aos-duration="600" style="margin-top: -0.000244141px;">
            <a class="text-center d-flex flex-column justify-content-center b-grid__item-inner b-grid__item-inner--bg-purple" href="">
              <div class="py-2 px-4 p-md-2">
                <div class="row align-items-center justify-content-center mb-sm-2">
                  <div class="col-auto col-sm-12 mb-sm-2 b-grid__icon"><i class="fa-brands fa-instagram"></i>
                  </div>
                  <div class="col col-sm-12 text-left text-sm-center d-none d-sm-block">
                    <div class="b-grid__title">School Instagram page</div>
                  </div>
                </div>
                <div class="mb-3 d-none d-md-block b-grid__text">Features original content and lots of photos! :)</div>
                <div class="d-none d-sm-block"><span class="btn btn--blue">Go</span>
                </div>
              </div>
            </a>
          </li>

          <li class="b-grid__item aos-init" data-aos="fade-up" data-aos-duration="600" style="margin-top: -114px;">
            <a class="responsive-img js-gallery-item b-grid__item-inner" data-bs-toggle="modal" data-bs-target="#lightbox-modal">
              <img class="lazyload" src="assets/images/gallery1.jpg" alt="" data-object-fit="cover">
              <i class="fa-solid fa-eye b-grid__hover-btn d-flex"></i>
            </a>
          </li> -->
        </swiper>
		  </ul>
      <div class="mt-4 mt-md-5 mt-lg-5 top-block__footer">
        <div class="row align-items-center justify-content-end">
          <div class="col-md-auto d-flex align-items-center justify-content-center">
            <button class="top-block__prev" type="button" tabindex="0" role="button" aria-label="Previous slide" (click)="slideEventPrev()">
              <i class="fa-solid fa-arrow-left"></i><span>Previous</span></button>
            <button class="top-block__next" type="button" tabindex="0" role="button" aria-label="Next slide" (click)="slideEventNext()">
              <span>Next</span>
              <i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
		</div>
	</div>
</section>

<section class="section b-partners">
  <div class="b-partners__bg"></div>
  <div class="wrap position-relative">
    <div class="title text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
      <h5>{{schoolData?.section7.title}}</h5>
      <h1>{{schoolData?.section7.subTitle}}</h1>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4">
        <div class="exp-info" data-aos="zoom-out-right" data-aos-delay="100" data-aos-duration="1000">
          <div class="img-cont text-center">
            <img *ngIf="schoolData" class="img-fluid" [src]="environment.imageBaseUrl + schoolData.section7.topLeftImage" alt="">
            <p>{{schoolData?.section7.topLeftText}}</p>
          </div>

          <div class="img-cont text-center">
            <img *ngIf="schoolData" class="img-fluid" [src]="environment.imageBaseUrl + schoolData.section7.bottomLeftImage" alt="">
            <p>{{schoolData?.section7.bottomLeftText}}</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="exp-logo" data-aos="zoom-out-right" data-aos-delay="100" data-aos-duration="1000">
          <img *ngIf="schoolData" class="img-fluid" [src]="environment.imageBaseUrl + schoolData.section7.centerImage" alt="">
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="exp-info" data-aos="zoom-out-right" data-aos-delay="100" data-aos-duration="1000">
          <div class="img-cont text-center">
            <img *ngIf="schoolData" class="img-fluid" [src]="environment.imageBaseUrl + schoolData.section7.topRightImage" alt="">
            <p>{{schoolData?.section7.topRightText}}</p>
          </div>

          <div class="img-cont text-center">
            <img *ngIf="schoolData" class="img-fluid" [src]="environment.imageBaseUrl + schoolData.section7.bottomRightImage" alt="">
            <p>{{schoolData?.section7.bottomRightText}}</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-9 col-lg-10">
        <swiper #swiper3 [config]="config3">
          <ng-template swiperSlide>
            <div class="b-partners__slide" style="order: 0; width: 225.75px; margin-right: 20px;">
              <a href="https://assnvlg.ru">
              <img src="assets/images/carouselImg1.png" alt="Association" title="Association"></a>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="b-partners__slide" style="-webkit-box-ordinal-group: 5; order: 5; margin-top: 20px; width: 225.75px; margin-right: 20px;">
              <a href="https://rybakovfond.ru/">
                <img src="assets/images/carouselImg2.png" alt="Rybakov" title="Association"></a>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="b-partners__slide" style="-webkit-box-ordinal-group: 1; order: 1; width: 225.75px; margin-top: 30px; margin-right: 20px;">
              <a href="http://asnoor.ru/">
                <img src="assets/images/carouselImg3.png" alt="Asnoor" title="Association"></a>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="b-partners__slide" style="-webkit-box-ordinal-group: 6; order: 6; margin-top: 20px; width: 225.75px; margin-right: 20px;">
              <a href="http://www.rusreadorg.ru/">
                <img src="assets/images/carouselImg1.png" alt="Russian Reading Association" title="Russian Reading Association"></a>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="b-partners__slide" style="-webkit-box-ordinal-group: 2; order: 2; width: 225.75px; margin-top: 30px; margin-right: 20px;">
              <a href="https://hse.ru">
                <img src="assets/images/carouselImg2.png" alt="HSE" title="HSE"></a>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="b-partners__slide" style="-webkit-box-ordinal-group: 7; order: 7; margin-top: 20px; width: 225.75px; margin-right: 20px;">
              <a href="https://mgimo.ru/">
              <img src="assets/images/carouselImg3.png" alt="MGIMO" title="MGIMO"></a>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="b-partners__slide" style="-webkit-box-ordinal-group: 3; order: 3; width: 225.75px; margin-right: 20px;">
              <a href="http://misis.ru/">
              <img src="assets/images/carouselImg1.png" alt="misis" title="misis"></a>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="b-partners__slide" style="-webkit-box-ordinal-group: 8; order: 8; margin-top: 20px; width: 225.75px; margin-right: 20px;">
              <a href="http://www.rudn.ru/">
              <img src="assets/images/carouselImg2.png" alt="RUDN University" title="RUDN University"></a>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="b-partners__slide" style="-webkit-box-ordinal-group: 3; order: 3; width: 225.75px; margin-right: 20px;">
              <a href="http://misis.ru/">
              <img src="assets/images/carouselImg1.png" alt="misis" title="misis"></a>
            </div>
          </ng-template>
        </swiper>
      </div>
      <div class="col-md-3 col-lg-2 d-flex align-items-end justify-content-end">
        <div class="d-flex align-items-center">
          <button class="b-partners__prev swiper-button-disabled" type="button" tabindex="0" role="button"
            aria-label="Previous slide" aria-disabled="true" (click)="slidePartPrev()">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <span class="b-partners__pagination swiper-pagination-fraction"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">2</span></span>
          <button class="b-partners__next" type="button" tabindex="0" role="button" aria-label="Next slide"
            aria-disabled="false" (click)="slidePartNext()">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div> -->
    </div>
  </div>
  <ul class="js-scene parallax-scene b-partners__decor" data-relative-input="true" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
    <li class="parallax-layer" data-depth="0.1" style="transform: translate3d(-13.8px, 92.9px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><i class="b-partners__particle b-partners__particle--dot-purple aos-init" data-aos="zoom-in"></i>
    </li>
    <li class="parallax-layer" data-depth="0.3" style="transform: translate3d(-41.4px, 278.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><i class="b-partners__particle b-partners__particle--circle-green aos-init" data-aos="zoom-in"></i>
    </li>
  </ul><span class="b-partners__decor"><i class="b-partners__particle b-partners__particle--line-purple aos-init" data-aos="new-animation"></i></span>
</section>

<!--Lightbox Modal Gallery-->
<div class="modal lightbox-modal" id="lightbox-modal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">
        <div class="container-fluid p-0">
          <swiper [config]="modalConfig">
            <ng-template swiperSlide>
              <img class="img-fluid" src="assets/images/gallery1.jpg" alt="">
            </ng-template>
            <ng-template swiperSlide>
              <img class="img-fluid" src="assets/images/gallery2.jpg" alt="">
            </ng-template>
            <ng-template swiperSlide>
              <img class="img-fluid" src="assets/images/gallery3.jpg" alt="">
            </ng-template>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</div>
